body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
main{
    min-height: 100vh;
    position: relative;
}
main .bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
    object-fit: cover;
}
th, td{
    background-color: transparent!important;
}
table{
    background-color: rgba(255, 255, 255, 0.656)!important;
    border-radius: 5px!important;
}
tbody tr:hover{
    background-color:rgb(196, 196, 196)!important;
}
.search-box{
    position: relative;
    width: 30%;
}
.search-box button{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    cursor: pointer;
}
.search-box .form-control:focus ~ button{
    background-color: #3A6DC4!important;
    transition: 0.3s!important;
}
.search-box .form-control:focus ~ button i{
    color: white !important;
}
.form-control{
    outline: 1px solid rgb(168, 168, 168) !important;
    box-shadow: none!important;
    border: none!important;
    border-radius: 5px !important;
}
.form-control:focus{
    outline: 2px solid #3A6DC4 !important;
}
.form-container{
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#btn-submit{
    /* background-color: #3A6DC4!important; */
    color: white!important;
    font-weight: 600!important;
}
.proNotFound td div{
    padding: 80px 0!important
}
.proNotFound img{
    width: 20%;
    height: auto;
}
.proNotFound:hover{
    background-color: transparent !important;;
}

.toast-container{
    position: sticky;
    top: 20px!important;
    left: 20px!important;
}